header{
  background-color: white;
}

@media (max-width: 754px) {
  /* Styles for screens smaller than or equal to 754px */
  header {
    background-color: lightgray; /* Example: Change navbar background */
    height:500px;
  }

  
}